.espada-1 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) 0 -638px;
    display: inline-block;
}

.espada-2 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -208px -638px;
    display: inline-block;
}

.espada-3 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -416px -638px;
    display: inline-block;
}

.espada-4 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -624px -638px;
    display: inline-block;
}

.espada-5 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -832px -638px;
    display: inline-block;
}

.espada-6 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1040px -638px;
    display: inline-block;
}

.espada-7 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) 1248px -638px;
    display: inline-block;
}

.espada-10 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1872px -638px;
    display: inline-block;
}

.espada-11 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -2080px -638px;
    display: inline-block;
}

.espada-12 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -2288px -638px;
    display: inline-block;
}

.basto-1 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) 0 -957px;
    display: inline-block;
}

.basto-2 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -208px -957px;
    display: inline-block;
}

.basto-3 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -416px -957px;
    display: inline-block;
}

.basto-4 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -624px -957px;
    display: inline-block;
}

.basto-5 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -832px -957px;
    display: inline-block;
}

.basto-6 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1040px -957px;
    display: inline-block;
}

.basto-7 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1248px -957px;
    display: inline-block;
}

.basto-10 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1872px -957px;
    display: inline-block;
}

.basto-11 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -2080px -957px;
    display: inline-block;
}

.basto-12 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -2288px -957px;
    display: inline-block;
}

.oro-1 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) 0 0;
    display: inline-block;
}

.oro-2 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -208px 0;
    display: inline-block;
}

.oro-3 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -416px 0;
    display: inline-block;
}

.oro-4 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -624px 0;
    display: inline-block;
}

.oro-5 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -832px 0;
    display: inline-block;
}

.oro-6 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1040px 0;
    display: inline-block;
}

.oro-7 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) 1248px 0;
    display: inline-block;
}

.oro-10 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1872px 0;
    display: inline-block;
}

.oro-11 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -2080px 0;
    display: inline-block;
}

.oro-12 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -2288px 0;
    display: inline-block;
}

.copas-1 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) 0 -319px;
    display: inline-block;
}

.copas-2 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -208px -319px;
    display: inline-block;
}

.copas-3 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -416px -319px;
    display: inline-block;
}

.copas-4 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -624px -319px;
    display: inline-block;
}

.copas-5 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -832px -319px;
    display: inline-block;
}

.copas-6 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1040px -319px;
    display: inline-block;
}

.copas-7 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1248px -319px;
    display: inline-block;
}

.copas-10 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -1872px -319px;
    display: inline-block;
}

.copas-11 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -2080px -319px;
    display: inline-block;
}

.copas-12 {
    width: 208px;
    height: 319px;
    background: url(../img/Baraja_española_completa.png) -2288px -319px;
    display: inline-block;
}


.superpuesta {
    margin-left: -188px !important;
}
